<h1 class="search-form__title hide show-md">
  DIFÍCIL DE ENCONTRAR TRABALHO?
  <br />
  <strong>AQUI FICA MAIS PERTO DO SEU OBJETIVO</strong>
</h1>
<form action="#" class="search-form">
  <input
    type="text"
    name="job-title"
    placeholder="Digite o Cargo ou Área Profissional"
  />
  <p class="search-form__helper-text">Exemplos: Gerente, UX, Telefonista</p>

  <div class="search-form__breaker"></div>

  <input type="text" name="job-city" placeholder="Cidade" />
  <p class="search-form__helper-text">
    Exemplos: Ribeirão Preto, São Paulo, Rio de Janeiro
  </p>

  <div class="search-form__breaker"></div>

  <select name="job-state" id="" class="select-css">
    <option value="">Região</option>
    <option value=""></option>
  </select>

  <div class="search-form__breaker"></div>
  <button class="search-form__submit">Buscar Vagas</button>
</form>
