<section class="login">
    <div class="login-container">
        <header class="section-heading  pcd-container">
            <h1><strong>Login</strong></h1>
            <hr />
        </header>
        <div class="forms-area">
            <form action="" class="default-form" id="candidato">
                <h2 class="form-title">Sou candidato - Quero me logar</h2>
                <input type="email" placeholder="Digite seu e-mail">
                <input type="password" placeholder="Digite sua senha">
                <input type="submit" value="Entrar">
            </form>


            <form action="" id="empresa"></form>
        </div>
    </div>
</section>