<section class="search-filter">
  <ul>
    <li>
      <label for="1"
        ><input type="checkbox" name="1" id="1" /><span>Teste 1</span></label
      >
    </li>
    <li>
      <label for="2"
        ><input type="checkbox" name="2" id="2" /><span>Teste 2</span></label
      >
    </li>
    <li>
      <label for="3"
        ><input type="checkbox" name="3" id="3" /><span>Teste 3</span></label
      >
    </li>
    <li>
      <label for="4"
        ><input type="checkbox" name="4" id="4" /><span>Teste 4</span></label
      >
    </li>
    <li>
      <label for="5"
        ><input type="checkbox" name="5" id="5" /><span>Teste 5</span></label
      >
    </li>
    <li>
      <label for="6"
        ><input type="checkbox" name="6" id="6" /><span>Teste 6</span></label
      >
    </li>
    <li>
      <label for="7"
        ><input type="checkbox" name="7" id="7" /><span>Teste 7</span></label
      >
    </li>
    <li>
      <label for="8"
        ><input type="checkbox" name="8" id="8" /><span>Teste 8</span></label
      >
    </li>
  </ul>
</section>
