<section class="newsletter-form">
  <div class="newsletter-form__icon"><i class="fas fa-envelope"></i></div>
  <h2 class="newsletter-form__title">
    Cadastre-se para receber todas as vagas e novidades
  </h2>
  <form action="#">
    <div class="newsletter-form__wrapper newsletter-form__wrapper--user">
      <input type="text" name="name" placeholder="Digite seu nome" />
    </div>
    <div class="newsletter-form__wrapper newsletter-form__wrapper--email">
      <input type="text" name="email" placeholder="Digite seu e-mail" />
    </div>
    <button class="newsletter-form__submit">Cadastre-se</button>
  </form>
</section>
